@page "/appointmentsv-2"

<div class="row-layout appointments-v-2-container">
    <div class="column-layout group">
        <div class="column-layout group_1">
            <div class="row-layout group_2">
                <div class="row-layout group_3">
                    <p class="typography__subtitle-2 text">
                        UPCOMING APPOINTMENTS
                    </p>
                </div>
            </div>
            <IgbList class="list" appointmentsv-2-scope>
                <IgbListItem>
                    <div>
                        <div class="row-layout group_4">
                            <div class="row-layout group_5">
                                <img src="assets/appt-upcoming.svg" class="image" />
                                <div class="column-layout group_6">
                                    <p class="typography__subtitle-2 content">
                                        Internal Medicine
                                    </p>
                                    <p class="typography__caption content">
                                        Tuesday, January 24, 2023 - 2:30pm - Dr. M. Matthews
                                    </p>
                                </div>
                            </div>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" appointmentsv-2-scope>
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <div>
                        <div class="row-layout group_4">
                            <div class="row-layout group_5">
                                <img src="assets/appt-upcoming.svg" class="image" />
                                <div class="column-layout group_6">
                                    <p class="typography__subtitle-2 content">
                                        Dermatology
                                    </p>
                                    <p class="typography__caption content">
                                        Friday, February 24, 2023 - 08:45am - Dr. V. Sawyer
                                    </p>
                                </div>
                            </div>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" appointmentsv-2-scope>
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <div>
                        <div class="row-layout group_4">
                            <div class="row-layout group_5">
                                <img src="assets/appt-upcoming.svg" class="image" />
                                <div class="column-layout group_6">
                                    <p class="typography__subtitle-2 content">
                                        Gynaecology
                                    </p>
                                    <p class="typography__caption content">
                                        Monday, March 6, 2023 - 6:30pm - Dr. J. Dean
                                    </p>
                                </div>
                            </div>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" appointmentsv-2-scope>
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                </IgbListItem>
            </IgbList>
        </div>
        <div class="column-layout group_1">
            <div class="row-layout group_2">
                <div class="row-layout group_3">
                    <p class="typography__subtitle-2 text">
                        RECENT
                    </p>
                </div>
            </div>
            <IgbList class="list" appointmentsv-2-scope>
                <IgbListItem>
                    <div>
                        <div class="row-layout group_4">
                            <div class="row-layout group_5">
                                <img src="assets/appt-past.svg" class="image" />
                                <div class="column-layout group_6">
                                    <p class="typography__subtitle-2 content">
                                        Oftalmology
                                    </p>
                                    <p class="typography__caption content">
                                        Thursday, January 12, 2023 - Dr. H. Chandler
                                    </p>
                                </div>
                            </div>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" appointmentsv-2-scope>
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <div>
                        <div class="row-layout group_4">
                            <div class="row-layout group_5">
                                <img src="assets/appt-past.svg" class="image" />
                                <div class="column-layout group_6">
                                    <p class="typography__subtitle-2 content">
                                        Traumatology
                                    </p>
                                    <p class="typography__caption content">
                                        Friday, December 16, 2022 - Dr. J. Dean
                                    </p>
                                </div>
                            </div>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" appointmentsv-2-scope>
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <div>
                        <div class="row-layout group_4">
                            <div class="row-layout group_5">
                                <img src="assets/appt-past.svg" class="image" />
                                <div class="column-layout group_6">
                                    <p class="typography__subtitle-2 content">
                                        Otorhinolaryngology
                                    </p>
                                    <p class="typography__caption content">
                                        Tuesday, December 13, 2022 - Dr. H. McNamara
                                    </p>
                                </div>
                            </div>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" appointmentsv-2-scope>
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                </IgbListItem>
                <IgbListItem>
                    <div>
                        <div class="row-layout group_4">
                            <div class="row-layout group_5">
                                <img src="assets/appt-past.svg" class="image" />
                                <div class="column-layout group_6">
                                    <p class="typography__subtitle-2 content">
                                        Internal Medicine
                                    </p>
                                    <p class="typography__caption content">
                                        Monday, November 28, 2022 - Dr. M. Matthews
                                    </p>
                                </div>
                            </div>
                            <IgbIconButton Variant="IconButtonVariant.Flat" class="icon-button" appointmentsv-2-scope>
                                <span class="material-icons">
                                    keyboard_arrow_right
                                </span>
                                <IgbRipple></IgbRipple>
                            </IgbIconButton>
                        </div>
                    </div>
                </IgbListItem>
            </IgbList>
        </div>
    </div>
    <div class="column-layout group_7">
        <h6 class="content">
            Dermatology Appointment FIXED
        </h6>
        <div class="column-layout group_8">
            <div class="row-layout group_9">
                <IgbAvatar Src="assets/Avatar4.png" Shape="AvatarShape.Circle" class="avatar avatar_1" appointmentsv-2-scope></IgbAvatar>
                <div class="column-layout group_10">
                    <p class="typography__subtitle-2 text_1">
                        Dr. Michael Matthews
                    </p>
                    <p class="typography__body-2 text_1">
                        Internal Medicine
                    </p>
                </div>
            </div>
            <IgbList class="list" appointmentsv-2-scope>
                <IgbListItem>
                    <div slot="start">
                        <IgbAvatar Shape="AvatarShape.Circle" class="avatar avatar_2" appointmentsv-2-scope>
                            <span class="material-icons">calendar_today</span>
                        </IgbAvatar>
                    </div>
                    <div slot="title">Tuesday, January 24, 2023</div>
                </IgbListItem>
                <IgbListItem>
                    <div slot="start">
                        <IgbAvatar Shape="AvatarShape.Circle" class="avatar avatar_3" appointmentsv-2-scope>
                            <span class="material-icons">access_time</span>
                        </IgbAvatar>
                    </div>
                    <div slot="title">2:30pm - 2:45pm</div>
                </IgbListItem>
                <IgbListItem>
                    <div slot="start">
                        <IgbAvatar Shape="AvatarShape.Circle" class="avatar avatar_4" appointmentsv-2-scope>
                            <span class="material-icons">location_on</span>
                        </IgbAvatar>
                    </div>
                    <div slot="title">Plainsboro Clinic </div>
                    <div slot="subtitle">1 Plainsboro Rd. Plainsboro, NJ 08536</div>
                </IgbListItem>
            </IgbList>
        </div>
        <div class="column-layout group_8">
            <p class="typography__subtitle-2 text_2">
                REQUIREMENTS
            </p>
            <div class="column-layout group_11">
                <p class="typography__body-2 content">
                    - Recommended shower before appointment.
                </p>
                <p class="typography__body-2 content">
                    - Wear loose comfortable clothing.
                </p>
                <p class="typography__body-2 content">
                    - Avoid using makeup or nail polish before appointment.
                </p>
                <p class="typography__body-2 content">
                    - Don't try any new skin care products in the days prior to your appointment.
                </p>
                <p class="typography__body-2 content">
                    - Take your medications as scheduled. Your dermatologist needs to know their effects on your skin.

                </p>
            </div>
        </div>
        <div class="row-layout group_12">
            <IgbButton Variant="ButtonVariant.Flat" class="button" appointmentsv-2-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button Flat</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
            <IgbButton class="button" appointmentsv-2-scope>
                <span class="material-icons">
                    add
                </span>
                <span>Button Raised</span>
                <IgbRipple></IgbRipple>
            </IgbButton>
        </div>
    </div>
</div>

@code {
}
